.page {
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #17193b;
    background-image: linear-gradient(140deg, #333867, #17193b);
    /* background-image: radial-gradient(farthest-side ellipse at 10% 0,#333867,#17193b); */
}

.form {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 2;
    vertical-align: middle;
}

TextField {
    border-bottom-width: 0;
    border-bottom-color: transparent;
    placeholder-color: rgb(139, 139, 139);
    color: white;
}

.input-field {
    width: 100%;
}

.input-transparent {
    background: rgba(0,0,0,.24);
    border-color: rgba(0,0,0,.09);
}

.btn-primary {
    color: #fff;
    background-color: #f45722;
    border-color: #f45722;
}
